/* This styles the base.html and the navbar */
body{
margin: 0;
padding: 0;
}

header{
background: gray;
position: fixed;
top: 0;
height: 10%;
width: 100%;
z-index: +1;
}

#logo{
margin: 0;
position: absolute;
top: 50%;
transform: translate(7%, -50%);
}
#loading{
display: none;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

#navbar-ul{
position: fixed;
top: 2%;
right: 1.5%;
margin: 0;
padding: 0;
list-style-type: none;

}
#navbar-li{
display: inline-block;
}

section{
background: white;
position: fixed;
bottom: 0;
display: block;
width: 100%;
height: 90%;
box-sizing: border-box;
}

.menu{
background-color: gray;
z-index: 2;
position: fixed;
top: 10%;
right: 0;
border: solid 1px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top:none;
}

.menu-content {
display: none;
color: black;
padding: 5px;
text-decoration: none;
z-index: 2;
}

.menu-content p:hover{
background-color: DarkGray;
color: white;
cursor: pointer;
}

/* >>>>>>>>>> This styles the left side of the screen <<<<<<<<<< */

#left-screen-container{
position: absolute;
bottom: 0;
left: 0;
display: block;
width: 50%;
height: 100%;
box-sizing: border-box;
}

#calendar-container{
position: absolute;
width: 100%;
height: 80%;
bottom: 20%;
left: 0;
display: block;
}

#calendar-elements-container{
background-color: LightGray;
position: absolute;
width: 95%;
height: 95%;
left: 2.5%;
right: 2.5%;
top: 2.5%;
bottom: 2.5%;
border: solid black 1px;
border-radius: 5px;
}

#myCalendar{
position: absolute;
width: 98%;
height:80%;
top: 1%;
left: 1%;
right: 1%;
}

#calendar-form-container{
position: absolute;
width: 98%;
bottom: 1%;
left: 1%;
right: 1%;
}

#valid-specific, #invalid-specific{
position: absolute;
bottom: 1%;

}

#weather-container{
position: absolute;
bottom: 0;
left: 0;
display: block;
width: 100%;
height: 20%;
}

#weather-elements-container{
background-color: LightGray;
position: absolute;
height: 100%;
width: 95%;
left: 2.5%;
right: 2.5%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
border: solid black 1px;
border-radius: 5px;
}

#weather-status, #temperature, #humidity{
position: absolute;
text-align: left;
content: center;
height: 100%;
width: 33.33%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
overflow: hidden;
}

#weather-status{
left: 0;
}

#temperature{
left: 33.33%;
right: 33.33%;
}

#humidity{
right: 0;
}

#temperature-icon, #humidity-icon, #weather-status-icon{
display: none;
position: absolute;
max-width: auto;
height: 100%;
width: auto;
opacity: 0.5;
z-index: 0;
margin:auto;
}

/* >>>>>>>>>> This styles the right side of the screen <<<<<<<<<< */

#right-screen-container{
position: absolute;
bottom: 0;
right: 0;
display: block;
width: 50%;
height: 100%;
box-sizing: border-box;
}

#specific-tasks-container{
position: absolute;
bottom: 50%;
right: 0;
display: block;
width: 100%;
height: 50%;
overflow: auto;
}

#specific-tasks-elements-container{
background-color: LightGray;
position: absolute;
width: 95%;
height:95%;
top: 2.5%;
bottom: 2.5%;
right: 2.5%;
left: 2.5%;
border: solid black 1px;
border-radius: 5px;
}

#specific-tasks-list{
position: absolute;
width: 95%;
height: 95%;
top: 2.5%;
bottom: 2.5%;
right: 2.5%;
left: 2.5%;
overflow: auto;
}

.done{
color:gray;
text-decoration:line-through;
}

#no-tasks{
color: gray;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

#daily-tasks-container{
position: absolute;
bottom: 0;
right: 0;
display: block;
width: 100%;
height: 50%;
}

#daily-tasks-elements-container{
background-color: LightGray;
position: absolute;
width: 95%;
height:95%;
top: 2.5%;
bottom: 2.5%;
right: 2.5%;
left: 2.5%;
border: solid black 1px;
border-radius: 5px;
}

#daily-tasks-form{
position: absolute;
width: 98%;
height: 10%;
top: 1%;
left: 1%;
right: 1%;
}

#daily-tasks-list{
position: absolute;
width: 95%;
height: 80%;
top: 20%;
left: 2.5%;
bottom: 1%;
right: 2.5%;
overflow: auto;
}

.checkbox{
margin-left: 1%;
}

.x-icon:hover{
cursor: pointer;
}