<!DOCTYPE html>
<html>

<head>

<!-- CSS and JavScript for the calendar -->
<link rel="stylesheet" href="static/src/css/vanilla-calendar-min.css">
<script src="static/src/js/vanilla-calendar-min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- CSS stylesheet -->
<link href="/static/styles.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>
    {% block title %}
        {# Title goes here #}
    {% endblock %}
</title>

</head>

<!-- This separates the head from the body  -->

<body>

<header>
    {% if current_user.is_authenticated %}
    <h3 title="Go to index" id="logo"><a href="/" style="color: black;">MyOnlineAgenda</a></h3>
    {% else %}
    <h3 id="logo"><a style="color: black;">MyOnlineAgenda</a></h3>
    {% endif %}
    <h3 id="loading">Loading...</h3>
    <ul id="navbar-ul">
        {% if current_user.is_authenticated %}
            <li id="navbar-li">
                <a class="btn btn-dark" onclick="showDropdown();" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
            </li>

        {% else %}

            <li id="navbar-li">
                <a class="btn btn-dark" href="/register" role="button">Register</a>
            </li>

            <li id="navbar-li">
                <a class="btn btn-dark" href="/login" role="button">Login</a>
            </li>
        {% endif %}
    </ul>

<div class="menu">
    <div class="menu-content">
        {% if current_user.show_done %}
            <p onclick="hideDone();" >Hide done</p>
        {% else %}
            <p onclick="showAll();" >Show all tasks</p>
        {% endif %}
            <p onclick="change();">Change account details</p>
            <p onclick="logout();">Logout</p>
    </div>
</div>

</header>


<section id="body">
    {% block main %}
        {# Body elements go here #}
    {% endblock %}
</section>

<script>

document.getElementById("loading").style.display = "block";

$(document).ready(function() {
    document.getElementById("loading").style.display = "none";
});

//This is a global variable that defines if the lists will be updated when the doneTask functions are executed
var showDone;
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState != 4 && this.status != 200){
        document.getElementById("loading").style.display = "block";
    }
    if (this.readyState == 4 && this.status == 200){
        document.getElementById("loading").style.display = "none";
        showDone = JSON.parse(this.response)
    }
};
xhttp.open("GET", "/show_done", true);
xhttp.send();

// This sends an AJAX request to the back-end route listening in order to set the view to "hide all done tasks
function hideDone(){
    var xhttp = new XMLHttpRequest();
    var False = JSON.stringify(false);
    xhttp.onreadystatechange = function() {
        if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
        if (this.readyState == 4 && this.status == 200){
            document.getElementById("loading").style.display = "none";
            location.reload();
        }
    };
    xhttp.open("GET", "/show_done/" + False, true);
    xhttp.send();
}

// This sends an AJAX request to the back-end route listening in order to set the view to "show all tasks"
function showAll(){
    var xhttp = new XMLHttpRequest();
    var True = JSON.stringify(true);
    xhttp.onreadystatechange = function() {
        if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
        if (this.readyState == 4 && this.status == 200){
            document.getElementById("loading").style.display = "none";
            location.reload();
        }
    };
    xhttp.open("GET", "/show_done/" + True, true);
    xhttp.send();
}

// This shows the dropdown menu or hides it
function showDropdown(){
    document.getElementsByClassName("menu-content")[0].style.display = "block";
}
window.onclick = function(event) {
  if (!event.target.matches('btn btn-dark')) {
      document.getElementsByClassName("menu-content")[0].style.display = "none";
  }
};

function change(){
    location.replace("/change");
}

function logout(){
    location.replace("/logout");
}


</script>

</body>

</html>