{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block style %}
<style>


</style>
{% endblock %}

{% block main %}
<!-- THIS CONTAINS THE LEFT OF THE SCREEN -->
<div id="left-screen-container">

        <!-- THIS CONTAINS THE CALENDAR -->
        <div id="calendar-container">

                <div id="calendar-elements-container">
                        <div id="myCalendar" class="vanilla-calendar"></div>

                        <div id="calendar-form-container">
                                <form  action="/specific" method="post" name="specific" onsubmit="checkValidity(); createSpecificTask();">
                                <div class="form-group" style="display: flex;">
                                    <input required hidden name="specific-date" type="text">
                                    <input required style="flex-direction: row;" autocomplete="off"  class="form-control" maxlength="255" minlength="1" name="specific-task" placeholder="Enter your specific task" type="text">
                                    <button title="Add new task" style="flex-direction: row;" class="btn btn-dark" id="submitTask" type="submit">Add</button>
                                </div>
                                </form>
                        </div>
                </div>

        </div>

        <!-- THIS CONTAINS THE WEATHER -->
        <div id="weather-container">
                <div id="weather-elements-container" style="">
                        <div id="weather-status">
                                <img id="weather-status-icon">
                                <strong id="show-weather-status" style="z-index: +1; position: relative;max-width: auto; max-height: auto; margin: auto;"></strong>
                        </div>
                        <div id="temperature">
                                <img id="temperature-icon" src="static/tmp.ico">
                                <strong id="show-temperature" style="z-index: +1; position: relative;max-width: auto; max-height: auto; margin: auto;"></strong>
                                <strong id="show-min-temp" style="z-index: +1; position: relative;max-width: auto; max-height: auto; margin: auto;"></strong>
                                <strong id="show-max-temp" style="z-index: +1; position: relative;max-width: auto; max-height: auto; margin: auto;"></strong>
                        </div>
                        <div id="humidity">
                                <img id="humidity-icon" src="static/hum.png">
                                <strong id="show-humidity" style="z-index: +1; position: relative;max-width: auto; max-height: auto; margin: auto;"></strong>
                        </div>
                        <h1 id="no-weather" title="Allow the page to access your location" style="position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">Loading...</h1>
                </div>

        </div>

</div>

<!-- THIS CONTAINS THE RIGHT OF THE SCREEN -->
<div id="right-screen-container">

        <!-- THIS CONTAINS THE SPECIFIC TASKS -->
        <div id="specific-tasks-container">
                <div id="specific-tasks-elements-container">
                        <div id="specific-tasks-list">
                                <ul style="list-style-type:none">
                                    <div id="showSpecificTasks"></div>
                                </ul>
                        </div>
                </div>

        </div>

         <!-- THIS CONTAINS THE DAILY TASKS -->
        <div id="daily-tasks-container">

                <div id="daily-tasks-elements-container">
                        <div id="daily-tasks-form">
                                <form action="/daily" method="post" name="daily" onsubmit="checkValidity(); createDailyTask();">
                                        <div class="form-group" style="display: flex;">
                                            <input style="flex-direction: row;" autocomplete="off" class="form-control" maxlength="255" minlength="1" name="daily-task" placeholder="Enter your daily task" type="text" required>
                                            <button title="Add new task" style="flex-direction: row;" class="btn btn-dark" type="submit">Add</button>
                                        </div>
                                </form>
                        </div>

                        <div id="daily-tasks-list">
                                <ul style="list-style-type:none;">
                                        <div id="showDailyTasks"></div>
                                </ul>
                        </div>

                </div>

        </div>
</div>

<script>

// This creates the calendar
var myCalendar = new VanillaCalendar({
    selector: "#myCalendar"
});

// This creates a full date
function getFullDate(){

    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();

    var fullDate = String(year) + "-" + String(month) + "-" + String(day);
    return fullDate;
}

// This creates event listener "onclick" for each one of the currently displayed dates in the calendar and set the "specific-date" form value to the
// currently selected date
$(document).ready(function() {

        var dates = document.getElementsByClassName("vanilla-calendar-date");
        for (let i=0, len=dates.length; i<len; i++){
                dates[i].addEventListener("click", function(){
                        let monthYear = document.getElementsByClassName("vanilla-calendar-header__label")[0].innerHTML;
                        document.forms["specific"]["specific-date"].value = (i+1) + " " + monthYear ;

                        getSpecificTasks();
                });
        }

        var btn = document.getElementsByClassName("vanilla-calendar-btn");
        for (let i=0, len=btn.length; i<len; i++){
                btn[i].addEventListener("click", function(){
                                var dates = document.getElementsByClassName("vanilla-calendar-date");
                                for (let i=0, len=dates.length; i<len; i++){
                                        dates[i].addEventListener("click", function(){
                                        let monthYear = document.getElementsByClassName("vanilla-calendar-header__label")[0].innerHTML;
                                        document.forms["specific"]["specific-date"].value = (i+1) + " " + monthYear;

                                        getSpecificTasks();
                                        });
                                }
                });
        }
});

// This gets (in JSON format) all the daily tasks from the selected day in the calendar
function getSpecificTasks(){
    var date = document.forms["specific"]["specific-date"].value;

    var specificTasks = document.getElementById("showSpecificTasks");

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
            if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
            }
                if (this.readyState == 4 && this.status == 200){
                    document.getElementById("loading").style.display = "none";
                    specificTasks.innerHTML = "";
                    var obj = JSON.parse(this.response);
                    if (!obj){
                            specificTasks.innerHTML = '<h3 id="no-tasks">No tasks have been added yet.</h3>' ;
                    }
                    else if(obj=="notasks"){
                            specificTasks.innerHTML = '<h3 id="no-tasks"> All tasks have been done. </h3>';
                    }
                    else{
                        for(let i=0, len=obj.length; i<len; i++){
                                if (!obj[i].done){
                                specificTasks.innerHTML += '<li style="margin: 1%;" id="specific-'+ obj[i].id +'"><img title="Remove task" alt="xicon.png" class="x-icon" src="static/xicon.png"' +
                                        'style="margin: 1%;width:25px; height: auto;" onclick="removeSpecificTask(' + obj[i].id + ');">' + obj[i].task +
                                                           '<input type="checkbox" class="checkbox" id="specific-checkbox' + obj[i].id + '" value="' + obj[i].id +
                                                           '" onclick="specificTaskDone(' + obj[i].id + ');"></li>';
                                }
                                else{
                                        specificTasks.innerHTML += '<li style="margin: 1%;" class="done" id="specific-' + obj[i].id +
                                        '"><img title="Remove task" alt="xicon.png" class="x-icon" src="static/xicon.png" style="margin: 1%; width:25px; height: auto;" onclick="removeSpecificTask(' +
                                        obj[i].id + ');">' + obj[i].task + '<input type="checkbox" class="checkbox" checked disabled></li>';
                                }
                        }
                    }
                }
            };

    xhttp.open("GET", "/specific/" + date, true);
    xhttp.send();
}

// This gets (in JSON format) all the daily tasks from the selected day in the calendar
function getDailyTasks(){

    var dailyTasks = document.getElementById("showDailyTasks");

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
            if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
        if (this.readyState == 4 && this.status == 200){
                document.getElementById("loading").style.display = "none";
            dailyTasks.innerHTML = "";
            var obj = JSON.parse(this.response);
            if (!obj){
                    dailyTasks.innerHTML = '<h3 id="no-tasks">No tasks have been added yet.</h3>' ;
            }
            else if(obj=="notasks"){
                    dailyTasks.innerHTML = '<h3 id="no-tasks"> All tasks have been done. </h3>';
            }
            else{
                for(let i=0, len=obj.length; i<len; i++){
                        if (!obj[i].done){
                                dailyTasks.innerHTML += '<li style="margin: 1%;" id="daily-'+ obj[i].id + '"><img title="Remove task" alt="xicon.png" class="x-icon" src="static/xicon.png"' +
                                'style="margin: 1%;width:25px; height: auto;" onclick="removeDailyTask(' + obj[i].id + ');">' + obj[i].task +
                                '<input type="checkbox" class="checkbox" id="daily-checkbox' + obj[i].id + '" value="' + obj[i].id +
                                '" onclick="dailyTaskDone(' + obj[i].id + ');"></li>';
                        }
                        else{
                                dailyTasks.innerHTML += '<li style="margin: 1%;" class="done" id="daily-' + obj[i].id +
                                '"><img title="Remove task" alt="xicon.png" class="x-icon" src="static/xicon.png" style="margin: 1%; width:25px; height: auto;" onclick="removeDailyTask(' +
                                obj[i].id + ');">' + obj[i].task + '<input type="checkbox" class="checkbox" checked disabled></li>';
                        }
                }
            }
        }
    };

    xhttp.open("GET", "/daily/", true);
    xhttp.send();
}

// This changes each daily task once it's checkbox is clicked to done, sending the corresponding data to update the database and doing the styling
function dailyTaskDone(id){

        var fullDate = getFullDate();

        var checkbox = document.getElementById("daily-checkbox"+id);
        var task = document.getElementById("daily-"+id);

        checkbox.disabled = true;
        task.classList.add("done");


        // This sends an AJAX request to the back-end route listening in order to set the corresponding task to "done" (True)
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
                if (this.readyState == 4 && this.status == 200){
                        document.getElementById("loading").style.display = "none";
                        // This refreshes the specific tasks list if showDone is "False"
                        if (!showDone){
                                getDailyTasks();
                        }
                }
        };
        xhttp.open("GET", "/daily//id=" + id + "date=" + fullDate , true);
        xhttp.send();


}

// This changes each specific task once it's checkbox is clicked to done, sending the corresponding data to update the database and doing the styling
function specificTaskDone(id){

        var checkbox = document.getElementById("specific-checkbox"+id);
        var task = document.getElementById("specific-"+id);

        checkbox.disabled = true;
        task.classList.add("done");

        // This sends an AJAX request to the back-end route listening in order to set the corresponding task to "done" (True)
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
                if (this.readyState == 4 && this.status == 200){
                        document.getElementById("loading").style.display = "none";
                        // This refreshes the specific tasks list if showDone is "False"
                        if (!showDone){
                                getSpecificTasks();
                        }
                }
        };
        xhttp.open("GET", "/specific//" + id, true);
        xhttp.send();
}

// This creates a new specific task
function createSpecificTask(){

        // Prevents the screen from refreshing
        event.preventDefault();

        // Gets the necesary values
        var specificTask = document.forms["specific"]["specific-task"].value;
        var specificDate = document.forms["specific"]["specific-date"].value;

        // Creates an AJAX request and sends the data to the back-end for storage in the database
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
                if (this.readyState == 4 && this.status == 200){
                        document.getElementById("loading").style.display = "none";
                        getSpecificTasks();
                        }
                };
        xhttp.open("GET", "/specifictask=" + specificTask + "date=" + specificDate , true);
        xhttp.send();

        document.forms["specific"]["specific-task"].value="";
}

// This creates a new daily task on form submission
function createDailyTask(){
        event.preventDefault();
        var fullDate = getFullDate();
        var task = document.forms["daily"]["daily-task"].value;

        // Creates an AJAX request and sends the data to the back-end for storage in the database
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
                if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
                if (this.readyState == 4 && this.status == 200){
                        document.getElementById("loading").style.display = "none";
                        getDailyTasks();
                        }
                };
        xhttp.open("GET", "/dailytask=" + task + "date=" + fullDate , true);
        xhttp.send();

        document.forms["daily"]["daily-task"].value="";

}

// This updates the daily tasks database
window.onload = function (){
    getDailyTasks();
    var fullDate = getFullDate();

    // This sends an AJAX request to the back-end route listening in order to check if daily tasks have to be reseted
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/update_daily_tasks" + fullDate , true);
    xhttp.send();
};

// Removes the daily task from the database
function removeDailyTask(id){
    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
            if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
            if (this.readyState == 4 && this.status == 200){
                    document.getElementById("loading").style.display = "none";
                    // Updates the daily tasks displayed
                    getDailyTasks();
                }
            };

    xhttp.open("GET", "/removedailytask=" + id , true);
    xhttp.send();
}

// Removes the specific task from the database
function removeSpecificTask(id){
    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
            if (this.readyState != 4 && this.status != 200){
                        document.getElementById("loading").style.display = "block";
                }
            if (this.readyState == 4 && this.status == 200){
                    document.getElementById("loading").style.display = "none";
                    // Updates the daily tasks displayed
                    getSpecificTasks();
                }
            };

    xhttp.open("GET", "/removespecifictask=" + id , true);
    xhttp.send();
}

// This gets the users coordinates and sends them to the back-end in order to get the weather data
window.onload = function getLocation(){
navigator.geolocation.getCurrentPosition(showPosition);
document.getElementById("showSpecificTasks").innerHTML = '<h3 id="no-tasks">Select a date in the calendar.</h3>'

getDailyTasks();

function showPosition(position){
var lat = position.coords.latitude;
var lng= position.coords.longitude;
var xhttp = new XMLHttpRequest();

xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200){
            weather = JSON.parse(this.response);
            if (weather){
                    document.getElementById("no-weather").style.display = "none";
                    document.getElementById("humidity-icon").style.display = "block";
                    document.getElementById("temperature-icon").style.display = "block";
                    document.getElementById("weather-status-icon").style.display = "block";
                    document.getElementById("show-weather-status").innerHTML = weather.status;
                    document.getElementById("weather-status-icon").src = weather.status_icon;
                    document.getElementById("show-temperature").innerHTML = "T°: " + weather.tmp;
                    document.getElementById("show-min-temp").innerHTML ="Min: " + weather.min_tmp;
                    document.getElementById("show-max-temp").innerHTML ="Max: " + weather.max_tmp;
                    document.getElementById("show-humidity").innerHTML = "Humidity: " + weather.humidity + "%";
            }

        }
    };

xhttp.open("GET", "/weatherlat=" + lat + "lng=" + lng , true);
xhttp.send();
}
};

//This is a global variable that defines if the lists will be updated when the doneTask functions are executed
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState != 4 && this.status != 200){
        document.getElementById("loading").style.display = "block";
    }
    if (this.readyState == 4 && this.status == 200){
        document.getElementById("loading").style.display = "none";
        showDone = JSON.parse(this.response)
    }
};
</script>

{% endblock %}