{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div align="center" class="alert alert-secondary" style="margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)" role="alert">
     <form action="/register" method="post" id="form" name="register" onsubmit="check()" class="needs-validation" novalidate>
        <div class="form-group">
            <input autocomplete="off" minlength="4" maxlength="10" autofocus class="form-control" name="username" placeholder="Username" type="text" onkeyup="change_color();" required>
            <div id="valid-username" class="valid-feedback">Username avaliable</div>
            <div id="invalid-username" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <input class="form-control" maxlength="10" name="password" placeholder="Password" type="password" onkeyup="check_password_validity()" required>
            <div id="passwordValid" class="valid-feedback"></div>
            <div id="passwordInvalid" class="invalid-feedback"></div>
        </div>
        <div class="form-group">
            <input class="form-control"  maxlength="10" name="confirmation" placeholder="Confirm password" type="password" onkeyup="check_passwords()" required >
            <div id="confirmationValid" class="valid-feedback">Passwords match</div>
            <div id="confirmationInvalid" class="invalid-feedback">Passwords don't match</div>
        </div>
        <div class="form-group">
            <input autocomplete="off" maxlength="345" class="form-control" name="email" placeholder="E-mail" onkeyup="validateEmail()" type="email" required>
            <div class="valid-feedback" id="validEmail"></div>
            <div class="invalid-feedback" id="invalidEmail"></div>
        </div>
       <button class="btn btn-dark" type="submit">Register</button>
    </form>
</div>


<div class="alert alert-danger" role="alert" style="position: absolute; bottom: 0; width: 100%">
        An email will be sent to your address with a validation link. Please use it within the first 15 minutes to validate your registry as it will expire after that period.
</div>


<script>
// Resets the "username" form Bootstrap's validation for a quick color change
function username_resetColor(){
    document.forms["register"]["username"].classList.remove('is-valid');
    document.forms["register"]["username"].classList.remove('is-invalid');
}

// Resets the "password" form Bootstrap's validation for a quick color change
function password_resetColor(){
    document.forms["register"]["password"].classList.remove('is-valid');
    document.forms["register"]["password"].classList.remove('is-invalid');
}

// Resets the "confirmation" form Bootstrap's validation for a quick color change
function confirmation_resetColor(){
    document.forms["register"]["confirmation"].classList.remove('is-valid');
    document.forms["register"]["confirmation"].classList.remove('is-invalid');
}

// Resets the "email" form Bootstrap's validation for a quick color change
function email_resetColor(){
    document.forms["register"]["email"].classList.remove('is-valid');
    document.forms["register"]["email"].classList.remove('is-invalid');
}

// Changes the style of the form according to Bootstrap's form validation using an AJAX query to check the username avaliability
function change_color(){

    var username = document.forms["register"]["username"].value;
    var invalidUsername = document.getElementById("invalid-username");
    var xhttp = new XMLHttpRequest();

    if (username.length == 0){
        username_resetColor();
    }
    else if (username.length > 1 && username.length < 4){
        username_resetColor();
        document.forms["register"]["username"].classList.add('is-invalid');
        invalidUsername.innerHTML = "Username must be at least 4 characters long";
    }
    else if (username.length >= 4){
            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200){

                var obj = JSON.parse(this.response);

                if (obj){
                    username_resetColor();
                    document.forms["register"]["username"].classList.add('is-valid');
                }
                else if (!obj && username != ""){
                    username_resetColor();
                    document.forms["register"]["username"].classList.add('is-invalid');
                    invalidUsername.innerHTML = "Username already taken";
                }
            }
            if (this.readyState == 4 && this.status == 404){
                username_resetColor();
            }
        };

        xhttp.open("GET", "/check/" + username + "/noemail", true);
        xhttp.send();
    }
}

// Checks if password meets all the requirements (a number, an uppercase, a lowercase and at least a length of 4 characters)
function check_password_validity(){

    password_resetColor();

    var password = document.forms["register"]["password"].value;
    var passwordInvalid = document.getElementById("passwordInvalid");
    var passwordValid = document.getElementById("passwordValid");
    var numre = /[0-9]/;
    var upre = /[A-Z]/;
    var lowre = /[a-z]/;

    if (password.length > 0){
        if (password.length < 4 ){
            passwordInvalid.innerHTML = "Password must be at least 4 characters long";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if (!numre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least a number";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if(!upre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least an uppercase letter";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }

        else if (!lowre.test(password)){
            passwordInvalid.innerHTML = "Password must contain at least an lowercase letter";
            document.forms["register"]["password"].classList.add('is-invalid');
            return false;
        }
        else
            passwordValid.innerHTML = "Password looks good";
            document.forms["register"]["password"].classList.add('is-valid');
            return true;
    }
    else{
        return false;
    }
}

// Check whether both "password" and "confirmation" forms are equal and returns true if they are, else returns fale. It also changes the color
// according to Bootstrap's form validation
function check_passwords(){

    confirmation_resetColor();

    var password = document.forms["register"]["password"].value;
    var confirmation = document.forms["register"]["confirmation"].value;

    if (password == confirmation && password != ""){
        document.forms["register"]["confirmation"].classList.add('is-valid');
        return true;
    }
    else if(password == confirmation && password == ""){
        return false;
    }
    else if(password != confirmation){
        document.forms["register"]["confirmation"].classList.add('is-invalid');
        return false;
    }
}

function validateEmail(){
    var email = document.forms["register"]["email"].value;
    var xhttp = new XMLHttpRequest();

    if (email.length >0){

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200){

                var obj = JSON.parse(this.response);

                if (obj && document.forms["register"]["email"].checkValidity()){
                    email_resetColor();
                    document.getElementById("validEmail").innerHTML = "Email avaliable";
                    document.forms["register"]["email"].classList.add('is-valid');
                }
                else if (!obj && email != "" && document.forms["register"]["email"].checkValidity()){
                    email_resetColor();
                    document.getElementById("invalidEmail").innerHTML = "Email already taken";
                    document.forms["register"]["email"].classList.add('is-invalid');
                }

                else if(!document.forms["register"]["email"].checkValidity()){
                    email_resetColor();
                    document.getElementById("invalidEmail").innerHTML = "Incorrect email format";
                    document.forms["register"]["email"].classList.add('is-invalid');
                }
            }
            if (this.readyState == 4 && this.status == 404){
                email_resetColor();
            }
        };

    xhttp.open("GET", "/check/nouser/" + email, true);
    xhttp.send();
    }
    else{
        email_resetColor();
    }
}



// On form submission, cancels it submission, checks if all the inputs are correct, and then submits it.
function check(){

    event.preventDefault();

    var username = document.forms["register"]["username"].value;
    var email = document.forms["register"]["email"].value;

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200){


            var obj = JSON.parse(this.response);

            if (obj == false){
                event.preventDefault();
            }

            else if (!document.forms["register"]["username"].checkValidity()){
                event.preventDefault();
            }

            else if(!check_passwords()){
                event.preventDefault();

            }
            else if(!check_password_validity()){
                event.preventDefault();

            }
            else if(!document.forms["register"]["email"].checkValidity()){
                event.preventDefault();
            }
            else if (obj == true && check_passwords() && check_password_validity() && document.forms["register"]["email"].checkValidity() && document.forms["register"]["username"].checkValidity())
                document.getElementById("form").submit();
            }
    };

    xhttp.open("GET", "/check/" + username + "/" + email, true);
    xhttp.send();
}




</script>
{% endblock %}